@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-2xs-5: 10.5px;
  --font-size-smi-2: 12.2px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #8e8e8e;
  --color-gray-200: #8a8a8a;
  --color-gray-300: #89807a;
  --color-gray-400: #7f7f7f;
  --color-gray-500: #7a7a7a;
  --color-gray-600: #757575;
  --color-gray-700: #242323;
  --color-gray-800: #191919;
  --color-gainsboro-100: #e9e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-khaki: #ebd96b;
  --color-whitesmoke-100: #efeceb;

  /* Gaps */
  --gap-6xs: 7px;
  --gap-71xl: 90px;
  --gap-5xl: 24px;
  --gap-230xl: 249px;
  --gap-7xl: 26px;
  --gap-203xl: 222px;
  --gap-9xl: 28px;
  --gap-112xl: 131px;

  /* Border radiuses */
  --br-mid-5: 17.5px;
  --br-smi-2: 12.2px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-mini: 15px;
}
